{% load static %}
{% block sidebar %}     



<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="http://watchdog.local">
        <i class="bi bi-house-door"></i>
        <span>Home</span>
      </a>
    </li><!-- End Home Nav -->

    <li class="nav-item">
      <a class="nav-link " href="/">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Aspirations</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        {% for menu in sidebar %}
          {% if menu.category == 'aspirations' %}
            <li>
              <a href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}"  >
                <i class="bi bi-circle"></i><span>{{ menu.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}

      
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Areas</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

          {% for menu in sidebar %}
          {% if menu.category == 'areas' %}
            <li>
            <a href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}"  >
                <i class="bi bi-circle"></i><span>{{ menu.title }}</span>
              </a>
            </li>
          {% endif %}
        {% endfor %}


      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-bar-chart"></i><span>Monitor</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


        {% for menu in sidebar %}
        {% if menu.category == 'monitor' %}
          <li>
            <a href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}">
              <i class="bi bi-circle"></i><span>{{ menu.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}

      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Personal</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

        {% for menu in sidebar %}
        {% if menu.category == 'personal' %}
          <li>
            <a href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}">
              <i class="bi bi-circle"></i><span>{{ menu.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}

      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-gem"></i><span>Skills</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">


        {% for menu in sidebar %}
        {% if menu.category == 'skills' %}
          <li>
            <a href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}">
              <i class="bi bi-circle"></i><span>{{ menu.title }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}


   
      </ul>
    </li><!-- End Icons Nav -->

    <li class="nav-heading">Pages</li>

    {% for menu in sidebar %}
    {% if menu.category == 'page' %}
        {% if menu.visibility == 'show' %}

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'PREVIEW_CONTENT_VIEW' menu.pk %}">
              <i class="{{ menu.icon }}"></i>
              <span>{{ menu.title }}</span>
            </a>
          </li><!-- End Profile Page Nav -->

        {% endif %}
    {% endif %}
  {% endfor %}



  </ul>

</aside><!-- End Sidebar-->

{% endblock %}